@charset "UTF-8";

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section {
	width: 950px;
	padding: 10px;
	box-shadow: 1px 1px 3px 0 rgba(82, 62, 62, 0.4);
	background-color: #ffffff;
}

.post_form {
	position:relative;
	padding: 10px
}

.form_control {
	margin-bottom: 10px;
}

.form_control label,
.admin_control{
	display: inline-block;

	font-size: 0.9rem;
	font-weight: bold;
}

.form_control label{
	width: 100px;
}

.admin_control{
	position: absolute;
    top: 13px;
    left: 340px;

    cursor: pointer
}

.ckb_notice{
    position: relative;
    margin-left: 5px;
    top: 1px;
 }

.opt_board {
	height: 30px;
	width: 200px;
}

.tf_title {
	height: 30px;
	width: 600px;
	padding: 0 5px;
}

.box_content {
	margin-top: 20px;
	border: 1px solid #c0c0c0;
}

.font_option {
	padding: 5px;
	border-bottom: 1px solid #c0c0c0;
}

.font_option img{
	vertical-align: middle;
    width: 10px;
}

.font_option > div{
	display: inline-block;
	font-size: 0px;
}

.font_option button{
	background-color: #ffffff;
}

.font_option button:hover{
	background-color: #d6d6d6;
}

.opt_font_size	{
	border-radius:5px;
    vertical-align: bottom;
	width: 60px;
	height: 30px;
}

.box_font_style{
	display: inline-block;
	margin: 0 10px;
}

.box_font_style button{
	width: 35px;
	height: 30px;
}

.box_font_color button:nth-child(1){
	width: 35px;
	height: 30px;
}
.box_font_color button:nth-child(2){
	width: 25px;
	height: 30px;
}

.tf_content {
	min-height: 400px;
	padding: 5px;
}

.box_resizer {
	height: 11px;
	background-color: #e0e0e0;
	cursor: pointer;
	text-align: center;
}

.box_resizer img{
	vertical-align: super;
    height: 11px;
}

.post_reset,
.post_submit {
	width: 80px;
	height: 40px;
}

.form_btn_group {
	text-align: right;
	margin-top: 20px;
}