@charset "UTF-8";

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section {
	width: 950px;
	padding: 10px;
	box-shadow: 1px 1px 3px 0 rgba(82, 62, 62, 0.4);
	background-color: #ffffff;
}

.post_form {
	position:relative;
	padding: 10px
}

.form_control {
    margin-bottom: 10px;
    font-size: 0px;
}

.form_control > *{
	font-size: 1rem;
}

.form_control label,
.admin_control{
	display: inline-block;

	font-size: 0.9rem;
	font-weight: bold;
}

.form_control label{
	width: 100px;
    line-height: 30px;
}

.admin_control{
	position: absolute;
    top: 17px;
    left: 340px;

    cursor: pointer
}

.ckb_notice{
    position: relative;
    margin-left: 5px;
    top: 1px;
 }

.opt_board {
	height: 30px;
	width: 200px;
}

.tf_title {
	height: 30px;
	width: 600px;
	padding: 0 5px;
}

#attachedFileGroup{
	display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

#fileAddBtn{
    width: 30px;
    font-size: 1.4rem;
    letter-spacing: 0px;
}

.file_ele{
	font-size: 0px;
}

.file_ele > *{
	vertical-align: middle;
}

.attached_file_name{
	display: inline-block;
    height: 20px;
    width: 300px;

    line-height: 20px;
    font-size: 0.8rem;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file_remove_btn{
	font-size: 0.8rem;
    color: #0073db;
}

.ck.ck-editor__main>.ck-editor__editable{
    height:400px;
}

.ck.ck-editor__main>.ck-editor__editable li{
	padding-left: 20px;
}

.ck.ck-editor__editable > .ck-placeholder::before {
    color: #888888;
}

.btn_self {
	width: 80px;
	height: 40px;
}

.form_btn_group {
	text-align: right;
	margin-top: 20px;
}