@charset "UTF-8";

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.nav{
	background-color: #ffffff;
}

.section {
	background-color:#ffffff;

	width: 950px;
	padding: 20px;
	box-shadow: 1px 1px 3px 0 rgba(82, 62, 62, 0.4)
}

.board_link {
	height: 30px;
	color: #000000;
}

.board_link:hover{
	font-weight: bold;
}

.post_title {
	padding: 15px 0;
	font-size: 1.7rem;
	font-weight: bold;
}

.post_info {
	padding: 10px 0;
}

.post_info-item{
	display: inline-block;
	vertical-align: middle;
}

.post_info-item:nth-child(2){
	margin-left: 10px
}

.post_info-item:nth-child(3){
	position: relative;
    top: 20px;

	float:right;
}

.author_img_wrap{
	display:inline-block;
	width: 40px;
    height: 40px;
}

.author_img{
	width: 40px;
    height: 40px;
	border-radius: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.reg_date{
	margin-top: 3px;
    color: #808080;
    font-size: 0.85rem;
}


.section-middle {
	padding: 20px 0;
	border-bottom: 1px solid #c0c0c0;
}

.post_attached_files{
	position: relative;
	margin: 10px 0;

	font-size: 0.9rem;
	text-align: right;
}

#attachedFileListOpen{
	cursor: pointer;
}

.post_attached_files-list{
	border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(82, 62, 62, 0.4);

	margin-top:10px;
	padding: 15px;

	list-style: none;

	position: absolute;
	right: 0px;

	z-index: 1;
}

.post_attached_files-item:not(:last-child){
	margin-bottom: 10px;
}

.attached_file_download{
	margin-left:15px;
	float: right;

	cursor: pointer;
}

.attached_file_download:hover{
	text-decoration: underline;
}

.editor-wrap{
    min-height:400px;
}

.ck.ck-editor__main>.ck-editor__editable{
	padding: 10px;
    border:0;
}

.ck.ck-editor__main>.ck-editor__editable li{
	padding-left: 20px;
}

.post_menu{
	text-align: right;
    font-size: 0.9rem;
    padding: 7px;
}

.post_menu .v_bar,
.post_menu-item_link{
	color: #808080;
}

.post_menu-item_link:hover{
	color: #000000;
	font-weight: bold;
}

.post_comment{
	border-top: 1px solid #c0c0c0;
	padding :10px 0;
}
.post_comment h3 {
	display:inline-block;
}

.post_comment .tab_sort_item{
	font-size: 0.9rem;
	color: #808080;
	margin-left: 3px;

	cursor: pointer;
}

.post_comment-list {
	list-style: none;
	padding: 5px 10px;
}

.post_comment-item.main{
	border-bottom: 1px solid #c0c0c0;
	font-size: 0.9rem;
	padding: 5px 10px 5px 10px;
}

.post_comment-item.sub{
	border-bottom: 1px solid #c0c0c0;
	font-size: 0.9rem;
	padding: 5px 10px 5px 30px;
}

.post_comment-item:last-child{
	border: none;
}

.post_comment-item div {
	padding: 5px 0;
}

.post_comment-item div:nth-child(1) {
	font-weight: bold;
}

.post_comment-item div:nth-child(3) {
	color: #808080;
	font-size:0.8rem;
}

.comment_reply{
	margin: 7px;
    color: #808080;

    cursor: pointer;
}
.comment_form{
	display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: flex-end;

    border-top: 1px solid #c0c0c0;
    margin-top: 20px;
}

.tf_content{
	width: 100%;
    height: 80px;
    border: 1px solid #c0c0c0;

	padding : 5px;
    resize: none;

    margin-bottom: 5px;
}

.btn_self{
	float: right;
	font-size: 1.1rem;

	width: 100px;
	height: 40px;
}

.section-bottom{
	padding-top: 20px;
}

.jump_post div {
	display: inline-block;
	padding: 10px 15px;

	font-size: 0.9rem;
}

.jump_post_link{
	padding: 10px 15px;
	color : #000000;
}

.jump_post_link:hover{
	font-weight: bold;
}

.jump_post div:nth-child(3) {
	text-align: right;
	float: right;
}

.jump_post div:nth-child(3)>span:nth-child(1) {
	margin-right:  40px;
}

