@charset "UTF-8";

.section {
	width: 100%;
	display: flex;

	flex-direction: column;

	justify-content: center;
	align-items: center;
}

.section .title {
	margin-bottom: 40px;
    letter-spacing: 8px;

	font-size: 2rem;
	font-weight: bold;
}

#registerForm label {
	display:inline-block;
	font-weight: bold;
	padding-bottom: 5px;
}


.inp{
	height: 40px;
	font-size: 1.1rem;
	line-height: 40px;
	padding-left: 5px;
}

.inp_self {
	display: block;
	width: 300px;
}

.inp_group{
	width: 98px;
	vertical-align: middle;
}

.inp_txt_group{
	width: 90px;
}

#registerForm .btn_self {
	width: 300px;
    height: 40px;
    margin-top: 10px;
    font-size: 1.1rem;
}

#registerForm .form_msg{
	height: 20px;
	font-size:0.85rem;
	margin-bottom: 5px;
}

