@charset "UTF-8";

.section{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 300px;
}

.section-title {
	letter-spacing:5px;
	margin-bottom:20px;
	font-size: 2rem;
	font-weight: bold;
}
.section-content{
	text-align:center;
	margin-bottom: 20px;
}

.section-control .btn_self {
	width: 100px;
	height: 40px;
	font-size: 1.1rem;
}

