<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplayground.mapper.CategoryMapperInterface">

	<select id="selectOne" parameterType="String" resultType="categoryDTO">
		SELECT * FROM tbl_category WHERE category_id = #{categoryId}
	</select>

	<select id="selectList" resultType="categoryDTO">
		SELECT * FROM tbl_category	ORDER BY sort_order ASC
	</select>
</mapper>