<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.codeplayground.mapper.CertificationMapperInferface">

	<resultMap type="certificationDTO" id="certificationDTO">
		<id column="user_email" property="userEmail"/>
		<result column="key" property="key"/>
		<result column="expiry" property="expiry" javaType="java.sql.Timestamp"/>
	</resultMap>

	<select id="selectOnebyEmail" parameterType="String" resultMap="certificationDTO">
		SELECT * FROM tbl_certification WHERE user_email = #{userEmail}
	</select>

	<insert id="insert" parameterType="certificationDTO">
		INSERT INTO tbl_certification VALUES(#{userEmail},#{key},#{expiry})
	</insert>

	<update id="update" parameterType="certificationDTO">
		UPDATE tbl_certification SET key = #{key},expiry = #{expiry} WHERE user_email = #{userEmail}
	</update>

	<delete id="delete" parameterType="String" >
		DELETE FROM tbl_certification WHERE user_email = #{userEmail}
	</delete>
</mapper>