<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeplayground.mapper.PostMapperInterface">

	<select id="getCount" parameterType="hashmap" resultType="int">
		SELECT count(*)
		FROM
		(SELECT * FROM tbl_post
		<where>
			<choose>
				<when test="correct != null">
					<if test="postTitle != null">
						post_title = #{postTitle}
					</if>
					<if test="userId != null">
						AND user_id = #{userId}
					</if>
				</when>
				<otherwise>
					<if test="postTitle != null">
						post_title LIKE '%${postTitle}%'
					</if>
					<if test="userId != null">
						AND user_id LIKE '%${userId}%'
					</if>
				</otherwise>
			</choose>
		</where>)
		 NATURAL JOIN
		 (SELECT * FROM tbl_board
		<where>
			<if test="categoryId != null">
				category_id = #{categoryId}
			</if>
			<if test="boardId != null">
				AND board_id = #{boardId}
			</if>
		</where>)
	</select>

	<select id="selectOne" parameterType="int" resultType="postDTO">
		SELECT * FROM tbl_post WHERE post_id = #{postId}
	</select>

	<select id="selectList" parameterType="hashmap" resultType="postDTO">

		<choose>
			<when test="frontPageNum == null and rearPageNum == null">
				SELECT * FROM tbl_post
					<where>
						<choose>
							<when test="correct != null">
								<if test="postTitle != null">
									post_title = #{postTitle}
								</if>
								<if test="userId != null">
									AND user_id = #{userId}
								</if>
							</when>
							<otherwise>
								<if test="postTitle != null">
									post_title LIKE '%${postTitle}%'
								</if>
								<if test="userId != null">
									AND user_id LIKE '%${userId}%'
								</if>
							</otherwise>
						</choose>
						<if test="important != null">AND important = ${important}</if>
						<if test="boardId != null">AND board_id = #{boardId}</if>
					</where>
						ORDER BY
					<choose>
						<when test="sortType != null">
							${sortType}
						</when>
						<otherwise>
							post_id DESC
						</otherwise>
					</choose>
			</when>
			<otherwise>
				SELECT * FROM
					(SELECT ROWNUM as row_num ,tbl_result.* FROM
						(SELECT * FROM	 tbl_post
						<where>
							<choose>
								<when test="correct != null">
									<if test="postTitle != null">
										post_title = #{postTitle}
									</if>
									<if test="userId != null">
										AND user_id = #{userId}
									</if>
								</when>
								<otherwise>
									<if test="postTitle != null">
										post_title LIKE '%${postTitle}%'
									</if>
									<if test="userId != null">
										AND user_id LIKE '%${userId}%'
									</if>
								</otherwise>
							</choose>
							<if test="important != null">AND important = ${important}</if>
							<if test="boardId != null">AND board_id = #{boardId}</if>
						</where>
							ORDER BY
						<choose>
							<when test="sortType != null">
								${sortType}
							</when>
							<otherwise>
								post_id DESC
							</otherwise>
						</choose>
						) tbl_result)
				WHERE row_num BETWEEN  #{frontPageNum} AND #{rearPageNum}
			</otherwise>
		</choose>
	</select>

	<select id="selectClosestList"  parameterType="hashmap" resultType="postDTO">
		WITH tbl_post_row AS
		(
	   		SELECT ROWNUM AS row_num, tbl_post.* FROM
					(SELECT * FROM tbl_post WHERE board_id=#{boardId} ORDER BY post_id DESC) tbl_post
		)

		SELECT post_id,post_title,user_id,create_date,comments FROM tbl_post_row
		WHERE
			row_num = (SELECT row_num FROM tbl_post_row WHERE post_id = ${postId})+1
		OR
			row_num = (SELECT row_num FROM tbl_post_row WHERE post_id = ${postId})-1
	</select>

	<select id="selectListjoinBoard" parameterType="hashmap" resultType="postBoardDTO">

	WITH tbl_post_board
	AS (SELECT * FROM
				(SELECT * FROM tbl_post
				<where>
					<if test="important != null">important = ${important}</if>
				</where>
				 )
			NATURAL JOIN
				(SELECT * FROM tbl_board
				<where>
					<if test="categoryId != null">
						category_id = #{categoryId}
					</if>
					<if test="boardId != null">
						AND board_id = #{boardId}
					</if>
				</where>)
			)
		<choose>
			<when test="frontPageNum == null and rearPageNum == null">
				SELECT * FROM tbl_post_board
					<where>
						<choose>
							<when test="correct != null">
								<if test="postTitle != null">
									post_title = #{postTitle}
								</if>
								<if test="userId != null">
									AND user_id = #{userId}
								</if>
							</when>
							<otherwise>
								<if test="postTitle != null">
									post_title LIKE '%${postTitle}%'
								</if>
								<if test="userId != null">
									AND user_id LIKE '%${userId}%'
								</if>
							</otherwise>
						</choose>
					</where>
						ORDER BY
					<choose>
						<when test="sortType != null">
							${sortType}
						</when>
						<otherwise>
							post_id DESC
						</otherwise>
					</choose>
			</when>
			<otherwise>
				SELECT * FROM
					(SELECT ROWNUM as row_num ,tbl_result.* FROM
						(SELECT * FROM	 tbl_post_board
						<where>
							<choose>
								<when test="correct != null">
									<if test="postTitle != null">
										post_title = #{postTitle}
									</if>
									<if test="userId != null">
										AND user_id = #{userId}
									</if>
								</when>
								<otherwise>
									<if test="postTitle != null">
										post_title LIKE '%${postTitle}%'
									</if>
									<if test="userId != null">
										AND user_id LIKE '%${userId}%'
									</if>
								</otherwise>
							</choose>
						</where>
							ORDER BY
						<choose>
							<when test="sortType != null">
								${sortType}
							</when>
							<otherwise>
								post_id DESC
							</otherwise>
						</choose>
						) tbl_result)
				WHERE row_num BETWEEN  #{frontPageNum} AND #{rearPageNum}
			</otherwise>
		</choose>
	</select>

	<insert id="insert" parameterType="postDTO">
		INSERT INTO tbl_post
		VALUES(#{postId},#{postTitle},#{postContent},#{boardId},#{userId},sysdate,0,0,${important})
	</insert>

	<update id="update" parameterType="postDTO">
		UPDATE tbl_post
		<set>
			<if test="postTitle != null">post_title = #{postTitle},</if>
			<if test="postContent != null">post_content = #{postContent},</if>
			<if test="boardId != null">board_id = #{boardId},</if>
			<if test="hits != -1">hits = hits+${hits},</if>
			<if test="comments != -1">comments = comments+${comments},</if>
			<if test="important != -1">important = #{important}</if>
		</set>
		WHERE post_id = #{postId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM tbl_post WHERE post_id = #{postId}
	</delete>

</mapper>