<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.codeplayground.mapper.PostMapperInterface">

	<resultMap type="postDTO" id="postDTO">
		<id column="post_id" property="postId" />
		<result column="post_title" property="postTitle" />
		<result column="post_content" property="postContent" />
		<result column="board_id" property="boardId" />
		<result column="author" property="author" />
		<result column="create_date" property="createDate" javaType="java.sql.Timestamp" />
		<result column="hits" property="hits" />
		<result column="comments" property="comments" />
		<result column="important" property="important"/>
	</resultMap>


	<select id="getCount" parameterType="hashmap" resultType="int">
		SELECT count(*) as count
		FROM tbl_post NATURAL JOIN tbl_board
		WHERE
		<if test="boardId != null">
			board_id = #{boardId} AND
		</if>
		category_id = #{categoryId}
		AND post_title LIKE #{postTitle} AND author LIKE #{author}
	</select>

	<select id="selectOnebyId" parameterType="int" resultMap="postDTO">
		SELECT * FROM tbl_post WHERE post_id = #{postId}
	</select>

	<select id="selectClosestList"  parameterType="hashmap" resultMap="postDTO">
		WITH tbl_post_row AS
		(
	   		SELECT ROWNUM AS row_num, tbl_post.* FROM
					(SELECT * FROM tbl_post WHERE board_id=#{boardId} ORDER BY post_id DESC) tbl_post
		)

		SELECT post_id,post_title,author,create_date,comments FROM tbl_post_row
		WHERE
			row_num = (SELECT row_num FROM tbl_post_row WHERE post_id = ${postId})+1
		OR
			row_num = (SELECT row_num FROM tbl_post_row WHERE post_id = ${postId})-1
	</select>

	<select id="selectList" parameterType="hashmap" resultMap="postDTO">

	WITH tbl_post_board
	AS (SELECT * FROM
				(SELECT * FROM tbl_post WHERE important = ${important})
			NATURAL JOIN
				(SELECT * FROM tbl_board WHERE
					<if test="boardId != null">
						board_id = #{boardId} AND
					</if>
					category_id = #{categoryId})
			)
		<choose>
			<when test="important == 1">
				SELECT * FROM tbl_post_board ORDER BY post_id DESC
			</when>
			<otherwise>
				SELECT * FROM
					(SELECT ROWNUM as row_num ,tbl_result.* FROM
						(SELECT * FROM	 tbl_post_board
						WHERE post_title LIKE #{postTitle} AND author LIKE #{author} ORDER BY ${field})
					tbl_result)
				WHERE row_num BETWEEN  #{frontPageNum} AND #{rearPageNum}
			</otherwise>
		</choose>
	</select>

	<insert id="insert" parameterType="postDTO">
		INSERT INTO tbl_post
		VALUES((SELECT NVL(MAX(post_id),0)+1 FROM tbl_post),#{postTitle},#{postContent},#{boardId},#{author},sysdate,0,0,${important})
	</insert>

	<update id="increaseHits" parameterType="int">
		UPDATE tbl_post SET hits=hits+1 WHERE post_id = #{postId}
	</update>

	<update id="increaseComments" parameterType="int">
		UPDATE tbl_post SET comments=comments+1 WHERE post_id = #{postId}
	</update>

	<update id="update" parameterType="postDTO">
		UPDATE tbl_post
		SET post_title = #{postTitle}, post_content = #{postContent}, board_id = #{boardId}, important=#{important}
		WHERE post_id = #{postId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM tbl_post WHERE post_id = #{postId}
	</delete>

</mapper>