<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mkboard.mapper.PostMapperInterface">

	<select id="getCount" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM
			(SELECT * FROM tbl_post
			<where>
				<choose>
					<when test="correct == true">
						<if test="postTitle != null">
							post_title = #{postTitle}
						</if>
						<if test="userNickName != null">
							AND user_id = (SELECT user_id FROM tbl_user WHERE user_nick_name = #{userNickName})
						</if>
					</when>
					<otherwise>
						<if test="postTitle != null">
							post_title LIKE '%${postTitle}%'
						</if>
						<if test="userNickName != null">
							AND user_id = (SELECT user_id FROM tbl_user WHERE user_nick_name LIKE '%${userNickName}%')
						</if>
					</otherwise>
				</choose>
				<if test="important != null">AND important = ${important}</if>
			</where>)
			 NATURAL JOIN
			 (SELECT * FROM tbl_board
			<where>
				<if test="categoryId != null">
					category_id = #{categoryId}
				</if>
				<if test="boardId != null">
					AND board_id = #{boardId}
				</if>
			</where>)
	</select>

	<select id="selectOne" parameterType="int" resultType="postInfoDTO">
		SELECT * FROM (SELECT * FROM tbl_post NATURAL JOIN tbl_board  WHERE post_id = #{postId}) tbl_post_board
		NATURAL JOIN tbl_user
	</select>

	<select id="selectList" parameterType="hashmap" resultType="postInfoDTO">
	WITH tbl_post_board_user
	AS (
		SELECT * FROM
			(SELECT * FROM
				(SELECT * FROM tbl_post
				<where>
					<if test="important != null">important = ${important}</if>
					<choose>
							<when test="correct == true">
								<if test="postTitle != null">
									AND post_title = #{postTitle}
								</if>
								<if test="userNickName != null">
									AND user_id = (SELECT user_id FROM tbl_user WHERE user_nick_name = #{userNickName})
								</if>
							</when>
							<otherwise>
								<if test="postTitle != null">
									AND post_title LIKE '%${postTitle}%'
								</if>
								<if test="userNickName != null">
									AND user_id = (SELECT user_id FROM tbl_user WHERE user_nick_name LIKE '%${userNickName}%')
								</if>
							</otherwise>
						</choose>
				</where>
				 )
				NATURAL JOIN
				(SELECT * FROM tbl_board
				<where>
					<if test="categoryId != null">
						category_id = #{categoryId}
					</if>
					<if test="boardId != null">
						AND board_id = #{boardId}
					</if>
				</where>))
			NATURAL JOIN
			tbl_user
		)
		<choose>
			<when test="frontPageNum == null and rearPageNum == null">
				SELECT * FROM tbl_post_board_user
					ORDER BY
					<choose>
						<when test="sortType != null">
							${sortType}
						</when>
						<otherwise>
							post_id DESC
						</otherwise>
					</choose>
			</when>
			<otherwise>
				SELECT * FROM
					(SELECT ROWNUM as row_num ,tbl_post_board_user.* FROM
						(SELECT * FROM	 tbl_post_board_user
						ORDER BY
						<choose>
							<when test="sortType != null">
								${sortType}
							</when>
							<otherwise>
								post_id DESC
							</otherwise>
						</choose>
						) tbl_post_board_user)
				WHERE row_num BETWEEN  #{frontPageNum} AND #{rearPageNum}
			</otherwise>
		</choose>
	</select>


	<select id="selectClosestList"  parameterType="hashmap" resultType="postInfoDTO">
		WITH tbl_post_board_user AS
		(
		SELECT * FROM
			(SELECT * FROM
		   		(SELECT ROWNUM AS row_num,tbl_post.* FROM
					(SELECT * FROM tbl_post
					WHERE permission = 1 AND important=0
					<if test="boardId != null">
						AND board_id = #{boardId}
					</if>
					ORDER BY post_id DESC) tbl_post
				)
			NATURAL JOIN
				(SELECT * FROM tbl_board
				<where>
					<if test="categoryId != null">
						category_id = #{categoryId}
					</if>
				</where>
				))
			NATURAL JOIN
				tbl_user
		)

		SELECT * FROM tbl_post_board_user
		WHERE
			row_num = (SELECT row_num FROM tbl_post_board_user WHERE post_id = ${postId})+1
		OR
			row_num = (SELECT row_num FROM tbl_post_board_user WHERE post_id = ${postId})-1
	</select>

	<insert id="insert" parameterType="postDTO">
		INSERT INTO tbl_post
		VALUES(#{postId},#{postTitle},#{postContent},#{boardId},#{userId},sysdate,0,0,${important},1)
	</insert>

	<update id="update" parameterType="postDTO">
		UPDATE tbl_post
		<set>
			<if test="postTitle != null">post_title = #{postTitle},</if>
			<if test="postContent != null">post_content = #{postContent},</if>
			<if test="boardId != null">board_id = #{boardId},</if>
			<if test="hits > 0">hits = hits+${hits},</if>
			<if test="comments > 0">comments = comments+${comments},</if>
			<if test="permission != null">permission = #{permission},</if>
			important = #{important}
		</set>
		WHERE post_id = #{postId}
	</update>

	<update id="increase" parameterType="hashmap">
		UPDATE tbl_post
		<set>
			<if test="hits != null">hits = hits+${hits},</if>
			<if test="comments != null">comments = comments+${comments}</if>
		</set>
		WHERE post_id = #{postId}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM tbl_post WHERE post_id = #{postId}
	</delete>

</mapper>