<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkboard.mapper.SubCommentMapperInterface">

	<select id="getCount" parameterType="hashmap" resultType="int">
		SELECT count(*) FROM tbl_subcomment
		<where>
			<if test="parentId != 0">parent_id = #{parentId}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
		</where>
	</select>

	<select id="selectList" parameterType="hashmap" resultType="subcommentDTO">
		SELECT * FROM tbl_subcomment
		<where>
			<if test="parentId != 0">parent_id = #{parentId}</if>
			<if test="userId != null">AND user_id = #{userId}</if>
		</where>
		ORDER BY create_date ASC
	</select>

	<insert id="insert" parameterType="subCommentDTO">
		INSERT INTO tbl_subcomment
		VALUES(#{commentId},#{commentContent},#{userId},sysdate,#{parentId})
	</insert>

	<update id="update" parameterType="subCommentDTO">
		UPDATE tbl_subcomment
		SET comment_content = #{commentContent}
		WHERE comment_id = #{comment_id}
	</update>

	<delete id="delete" parameterType="int">
		DELETE FROM tbl_subcomment WHERE comment_id = #{comment_id}
	</delete>
</mapper>