<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
														"HTTP://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mkboard.mapper.UserMapperInterface">

	<select id="getCount"  resultType="int">
		SELECT count(*) FROM tbl_user
	</select>

	<select id="selectOne" parameterType="hashmap" resultType="userDTO">
		SELECT * FROM tbl_user
		<where>
			<if test="userId != null">user_id=#{userId}</if>
			<if test="userNickName != null">AND user_nick_name=#{userNickName}</if>
			<if test="userEmail != null">AND user_email=#{userEmail}</if>
		</where>
	</select>

	<select id="selectList" parameterType="hashmap" resultType="userDTO">
		<choose>
			<when test="frontPageNum != 0 and rearPageNum != 0">
				SELECT * FROM (SELECT rownum as row_num ,tbl_user.* FROM
				(SELECT * FROM tbl_user ORDER BY user_regdate ${sortType}) tbl_user )
				WHERE row_num BETWEEN #{frontPageNum} AND #{rearPageNum}
			</when>
			<otherwise>
				SELECT * FROM tbl_user
				ORDER BY user_regdate ${sortType}
			</otherwise>
		</choose>
	</select>

	<insert id="insert" parameterType="userDTO">
		INSERT INTO tbl_user(user_id,user_name,user_pw,user_email,user_regdate,user_nick_name,admin)
		VALUES(#{userId},#{userName},#{userPw},#{userEmail},sysdate,#{userNickName},0)
	</insert>

	<update id="update" parameterType="userDTO">
		UPDATE tbl_user
		<set>
			<if test="userName != null">user_name = #{userName},</if>
			<if test="userPw != null">user_pw = #{userPw},</if>
			<if test="userEmail != null">user_email = #{userEmail},</if>
			<if test="userNickName != null">user_nick_name=#{userNickName}</if>
		</set>
		WHERE user_id = #{userId}
	</update>

	<update id="admin" parameterType="userDTO">
		UPDATE tbl_user
		<set>
			<if test="admin != null">admin=#{admin}</if>
		</set>
		WHERE user_id = #{userId}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM tbl_user WHERE user_id = #{userId}
	</delete>

</mapper>