@charset "UTF-8";

.container{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.section {
	width: 950px;
	padding: 10px;
}

.board_header {
	margin-bottom: 20px;
}

.board_title {
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
	padding-left: 5px;
}

.btn_write {
	float: right;
}

.btn_write .btn_self {
	width: 140px;
	height: 35px;
	font-size: 1.1rem;
}

.btn_write img{
	position: relative;
    width: 17px;
    margin-right: 7px;
    top: 2.5px;
}

.board_control {
	height: 30px;
	margin-bottom: 10px;
}

.board_control > div {
	display: inline-block;
}

.tab_sort {
	height: 30px;
	line-height: 30px;
}

.tab_sort-item {
	font-size: 0.9rem;
	color: #808080;
	margin: 0px 7px;
	cursor: pointer;
}

.tab_sort-item:hover {
	font-weight: bold;
	color: #000000;
}

#hideNoticeCkb{
	position: relative;
    margin-left: 5px;
    top: 1.5px;
}

.box_search {
	float: right;
}

.search_form {
	font-size: 0px;
}

.search_form>* {
	height: 30px;
	font-size: 1rem;
}

.search_form .opt_target {
	width: 100px;
}

.search_form .tf_query {
	vertical-align: top;
	padding-left: 5px;
	width: 200px;
}

.search_form .btn_self {
	width: 50px;
	vertical-align: top;
	cursor: pointer;
}

.search_form .btn_self img {
	height: 17px;
	vertical-align: middle;
}

.board_table {
	width: 100%;
	border-collapse: collapse;
	box-shadow: 1px 1px 3px 0 rgba(82, 62, 62, 0.4);
	background-color: #ffffff;
}

.board_table-field {
	background-color: #0059ab;
    color: #ffffff;
}

.board_table-cell {
	border-bottom: 1px solid #c0c0c0;
}

#regulerPost .board_table-cell_link{
	color: #000000;
}

#noticePost > .board_table-cell,
#importantPost > .board_table-cell{
	color : #ff0000;
	font-weight: bold;
}

#noticePost .board_table-cell_link,
#importantPost .board_table-cell_link{
	color : #ff0000;
}

.board_table th,
.board_table td {
	padding: 12px;
	font-size: 0.9rem;
	text-align: center;
}

.board_table td:nth-child(2) {
	text-align: left;
	cursor: pointer;
}

.board_table th.tb_short {
	width: 70px;
}

.board_table th.tb_mid {
	width: 150px;
}

.pager {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.pager-list {
	display: flex;
	list-style: none;
	flex-direction: row;
}

.pager-item {
	margin: 0 3px;
	color: #808080
}

.pager-item_link.num {
	color: #808080;
	padding: 0 5px;
	font-size: 1.1rem;
	text-decoration: none;
}

.pager-item_link.changer {
	color: #000000;
	font-size: 0.9rem;
	text-decoration: none;
}

.pager-item_link:hover {
	color: #000000;
}