@charset "UTF-8";

.section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section .title {
	letter-spacing:8px;
	margin-bottom:50px;
	font-size: 2rem;
	font-weight: bold;
}

#login_form{
	margin-bottom: 30px;
}

#login_form .input {
	display: block;
	width: 300px;
	height: 40px;
	font-size: 1.1rem;
	line-height: 40px;
	padding-left: 5px;
	margin-bottom: 10px;
}

#login_form .submit_btn {
	width: 300px;
	height: 40px;
	font-size: 1.1rem;
	font-weight: bold;
}

.login_menu>.item {
	display: inline-block;
	font-size: 0.85rem;
}

.login_menu a{
	color: #000000;
	text-decoration: none;
}