@charset "UTF-8";


.section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	height: 80vh;
}

.section .user_table {
	width: 80vw;
	margin: 50px 0;
	border-collapse: collapse;
}

.user_table tr {
	border-bottom: 1px solid #c0c0c0;
}

.user_table caption {
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;

	padding : 0 10px;
	height: 60px;
	line-height: 60px;
	font-size: 1.3rem;
	font-weight: bold;
}

.user_table caption span{
	float: right;
	font-size: 0.8rem;
}

.user_table th, .user_table td {
	height: 50px;
}

.user_table th:nth-child(1) {
	width: 5%;
}

.user_table th:nth-child(2) {
	width: 15%;
}

.user_table th:nth-child(3) {
	width: 10%;
}

.user_table th:nth-child(4) {
	width: 5%;
}

.user_table th:nth-child(5) {
	width: 20%;
}
.user_table th:nth-child(6) {
	width: 20%;
}
.user_table th:nth-child(7) {
	width: 25%;
}

.user_table td {
	text-align: center;
}

.pages{
	margin-top: 30px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

	width: 100%;
}

.pages .page_list{
	display: flex;
    list-style: none;
    flex-direction: row;
}

.page_list li{
	margin: 0 3px;
	color : #808080;
}

.page_list li a{
	color : #808080;

	padding: 0 5px;
	font-size: 1.1rem;
	text-decoration: none;
}

.page_list li a:hover{
	color : #000000;
}

