@charset "UTF-8";

@font-face {
	font-family: 'IBMPlexSansKR-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html, body {
	width: 100vw;
	height: 100vh;
}

body, textarea,input{
	font-family: 'IBMPlexSansKR-Regular' !important;
}

select, button,.btn{
	cursor: pointer;
}

input, select,button	 {
	border: 1px solid #c0c0c0;
}

a {
	text-decoration: none;
}

div{
	word-break: break-all;
}

.btn_major{
	background-color: #0059ab;
	color: #ffffff;

	letter-spacing: 5px;
	font-weight: bold;
	border-radius: 5px;
}

.btn_major:hover{
	background-color: #0073db;
}

.page_btn{
	width: 25px;
	height: 25px;
}

.selected{
	color : #000000 !important;
	font-weight: bold;
}

.v_bar {
	margin: 0 5px;
}

.hr_light {
	margin: 10px 0;
	border-style: none;
	border-top: 1px solid #c0c0c0;
}

.page_arrow{
	display: inline-block;
    background-size: contain;
    height: 17px;
    background-repeat: no-repeat;
    vertical-align: middle;
    padding: 5px;
    margin: 0 5px;
}
.left_page_arrow{
    background-image: url("/resources/images/left_arrow.svg");
}
.right_page_arrow{
	background-image: url("/resources/images/right_arrow.svg");
}
