@charset "UTF-8";

.nav {
	background-color: #ffffff;

	width: 250px;
	min-height: 500px;
	padding-left: 30px;
	margin-right: 80px;
	box-shadow: 1px 1px 3px 0 rgba(82, 62, 62, 0.4)
}

.nav-title {
	padding: 10px;
	border-bottom: 5px solid #0059ab;
	font-weight: bold;
	font-size: 1.3rem;
	margin-bottom: 10px;
}

.nav-list {
	list-style: none;
}

.nav-item {
	cursor: pointer;
}

.nav-item:hover {
	background-color: #e4e4e4
}

.nav-item_link{
	display:block;
	padding: 5px 10px;
	color : #000000;
}
